@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden; /* no horizontal scrolling*/
  max-width: 100vw;
}

html {
  font-size: 62.5%; /* 1 rem = 10px*/
  color: white;
}
a {
  color: white;
}
a:active,
a:link,
a:visited {
  background: transparent;
  border: none;
  color: white;
}
button {
  background: transparent;
  border: none;
  color: white;
}
